name: Build UI Docker CI

on:
  push:
    branches:
      - main
    paths:
      - src/**
      - public/**
      - docker/Dockerfile
      - package.json
      - package-lock.json
      - workers.ts
  workflow_dispatch:

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v6

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
          with:
            driver: docker-container

        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            context: ./
            file: ./docker/Dockerfile
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/lol-bootcamp-tracker:latest
            build-args: |
              SYNCFUSION_LICENSE=${{ secrets.SyncfusionLicense }}
              NEXT_PUBLIC_UMAMI_WEBSITE_ID=${{ secrets.NEXT_PUBLIC_UMAMI_WEBSITE_ID }}
              NEXT_PUBLIC_UMAMI_URL=${{ secrets.NEXT_PUBLIC_UMAMI_URL }}

        - name: Trigger Deploy Workflow
          uses: peter-evans/repository-dispatch@v4
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
            event-type: build-completed